footer {
    @include pd_values(1.2%,0);
    background-color: map-get($colors,black_color );
    @at-root
    .footer-menus {
        @include flex_properties(space-between,center);
        width: 54%;
        margin-left: 1%;
        li {
            a {
                color: map-get($colors,lightest-white);
                font-size: map-get($font,font-xviii);
                &:hover {
                    color: map-get($colors,primary_color);
                }
                @include reverse_breakpoint("pc") {
                    font-size: map-get($font,font-xvi);
                }
                @include reverse_breakpoint("tablet") {
                    font-size: map-get($font,font-x);
                }
            }
        }
        @include reverse_breakpoint("large-pc") {
            width: 72%;
        }
        @include reverse_breakpoint("tablet") {
            width: 100%;
        }
    }

    @at-root
    .copyright {
        @include mg-rule(top,12px);
        color: map-get($colors,lighter-white);
        font-size: map-get($font,font-xviii);
        @include reverse_breakpoint("tablet") {
            font-size: map-get($font,font-xii);
        }
    }

}