.page-content {
    @include mg-rule(top,15px);
    @include flex_properties(normal,normal);
    column-gap: 25px;
        @at-root
        &__taking-the-lead {
            background-color: map-get($colors,primary_color);
            @at-root
            &__video {
                figure {
                    width: 935px;
                    height: 415px;
                    @include reverse_breakpoint("large-pc") {
                        width: auto;
                    }
                }
            }
            @at-root
            &__play-video {
                width: 30%;
                height: 50%;
                border-radius: 50%;
                position: fixed;
                z-index: 3;
                top: 50%;
                left: 50%;
                display: none;
                transform: translate(-50%,-50%);
                video {
                    width: 100%;
                }
            }

            @at-root 
            &__video {
                @include pd_values(6.2%,0);
                position: relative;
                background-color: map-get($colors,black_color);
            }
            .play-button {
                width: 124px;
                height: 124px;
                position: absolute;
                z-index: 1;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                cursor: pointer;
            }
            h2 {
                @include pd_values(0,1.8%);
                @include mg-rule(top,55px);
                color: map-get($colors,dark-green);
                font-size: map-get($font,font-xxxiv);
                font-weight: bold;
            }

            p {
                @include pd_values(0,1.8%);
                @include mg-rule(top,38px);
                font-size: map-get($font,font-xxii);
                font-weight: bold;
                line-height: 27px;
            }

            @at-root 
            .social {
                width: 22.1%;
                @include mg_values(5%,2.3%,0,auto);
                @include flex_properties(space-between,center);
                li {
                    a {
                        text-indent: -9999px;
                        &::before {
                            @include font-icon("\f09a",30px);
                            @include pd_values(61%,100%);
                            display: block;
                            border-radius: 100%;
                            background-color: map-get($colors,icons-back);
                            color: map-get($colors,primary_color);
                            @include transition-effect();
                        }
                        &:hover:before {
                            @include hover-effect();
                            @include reverse_breakpoint("tablet") {
                                color: map-get($colors,primary_color);
                            }
                        }
                      
                    }
                    &:nth-child(2) a::before {
                        content: "\f0e1";
                        @include pd_values(40%,52%);
                    }
                    &:nth-child(3) a::before {
                        content: "\f099";
                        @include pd_values(40%,41%);
                    }
                    &:nth-child(4) a::before {
                        content: "\f0e0";
                        @include pd_values(35%,36%);
                    }
                }
                @include reverse_breakpoint("large-pc") {
                    width: 41.1%;
                }
                @include reverse_breakpoint("mini-ipad") {
                    width: 80%;
                }
            }
        }

        @at-root
        .modal-background {
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 2;
            top: 0;
            left: 0;
            display: none;
            background-color: map-get($colors,light-black);
        }
        
        @at-root
        &__sidebar{
            @at-root
            &__content {

            span {
                @include mg-rule(top,12px);
                display: block;
                font-weight: bold;
            }

            @at-root
            &__author {
                width: 64px;
                height: 21px;
                @include mg-rule(top,12px);
            }

            a {
                @include mg-rule(top,14px);
                color: map-get($colors,light-green);
                font-size: map-get($font,font-xviii);
                line-height: 24px;
                text-decoration: underline;
                @include transition-effect();
                &:hover {
                    @include hover-effect();
                    @include reverse_breakpoint("tablet") {
                        color: map-get($colors,light-green);
                    }
                }
            }
            p {
                @include mg_values(18px,0,19px,0);
                font-size: map-get($font,font-xiv);
                font-weight: bold;
            }
            
            @at-root
            .page-content-details {
                @include pd_values(0,6%);
                background-color: map-get($colors,primary_color);
            }

            @at-root
            &__video-box {
                position: relative;
                .play-button {
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
        }
    }
    @include reverse_breakpoint("mini-ipad") {
        flex-direction: column;
        row-gap: 10px;
    }
}