@charset "UTF-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif; }

a {
  display: inline-block;
  text-decoration: none; }

a:hover {
  color: #ff0000;
  transition: All ease-in-out 0.3s;
  -webkit-transition: All ease-in-out 0.3s;
  -moz-transition: All ease-in-out 0.3s;
  -ms-transition: All ease-in-out 0.3s;
  -o-transition: All ease-in-out 0.3s; }

li {
  display: inline-block;
  list-style-type: none; }

/* for fonts  */
.dark-text {
  color: #000;
  font-weight: bold; }

.green-color {
  color: #8EB53E; }

/*for wrapper*/
.wrapper {
  max-width: 1519px;
  width: 82.1%;
  margin: 0 auto; }

.header-top {
  padding: 13px 0;
  background-color: #000; }
  .hamburger {
    display: none; }
  .header-top__menus {
    width: 36%; }
    .header-top__menus > ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header-top__menus > ul li {
        padding: 0 5.2%;
        text-align: center; }
        .header-top__menus > ul li a {
          color: rgba(255, 255, 255, 0.4);
          font-size: 19px; }
        .header-top__menus > ul li:nth-of-type(2n) > a::after {
          content: "";
          font-family: "fontAwesome";
          font-size: 20px;
          margin-left: 2px;
          vertical-align: middle; }
        .header-top__menus > ul li:first-child {
          margin-right: 2.5%;
          background-color: #ff0000; }
          .header-top__menus > ul li:first-child > a {
            letter-spacing: 1px; }
        .header-top__menus > ul li:nth-child(2) {
          margin-right: 1.2%; }
        .header-top__menus > ul li:nth-child(3) {
          margin-right: 4.2%;
          white-space: nowrap; }
        .header-top__menus > ul li ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          justify-content: normal;
          align-items: normal;
          flex-direction: column; }
          .header-top__menus > ul li ul li a {
            font-size: 12px;
            white-space: nowrap; }
            .header-top__menus > ul li ul li a::after {
              content: ""; }
