@charset "UTF-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif; }

a {
  display: inline-block;
  text-decoration: none; }

a:hover {
  color: #ff0000;
  transition: All ease-in-out 0.3s;
  -webkit-transition: All ease-in-out 0.3s;
  -moz-transition: All ease-in-out 0.3s;
  -ms-transition: All ease-in-out 0.3s;
  -o-transition: All ease-in-out 0.3s; }

li {
  display: inline-block;
  list-style-type: none; }

/* for fonts  */
.dark-text {
  color: #000;
  font-weight: bold; }

.green-color {
  color: #8EB53E; }

/*for wrapper*/
.wrapper {
  max-width: 1519px;
  width: 82.1%;
  margin: 0 auto; }

.header-top {
  background-color: #000; }
  .hamburger, .cross {
    margin-right: auto;
    display: none;
    color: #fff;
    font-size: 26px;
    text-indent: -9999px; }
    .hamburger::before, .cross::before {
      content: "";
      float: right;
      font-family: "fontAwesome";
      font-size: 28px;
      text-indent: 0;
      content: "\f0c9";
      color: #fff;
      cursor: pointer; }
    @media screen and (max-width: 768px) {
      .hamburger, .cross {
        display: block; } }
  .header-top .cross::before {
    content: "\f00d"; }
  .header-top__menus {
    width: 36%; }
    .header-top__menus > ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header-top__menus > ul > li {
        padding: 2.9% 5.2%;
        position: relative;
        text-align: center; }
        .header-top__menus > ul > li > a {
          color: rgba(255, 255, 255, 0.4);
          font-size: 19px; }
        .header-top__menus > ul > li:nth-of-type(2n) > a::after {
          content: "";
          font-family: "fontAwesome";
          font-size: 20px;
          margin-left: 2px;
          font-weight: bold;
          vertical-align: middle; }
        .header-top__menus > ul > li:first-child {
          margin-right: 4.5%; }
          @media screen and (max-width: 768px) {
            .header-top__menus > ul > li:first-child {
              white-space: nowrap; } }
        .header-top__menus > ul > li:nth-child(2) {
          margin-right: 1.2%; }
        .header-top__menus > ul > li:nth-child(3) {
          margin-right: 4.2%;
          white-space: nowrap; }
        .dropdown-menus {
          padding: 10% 20%;
          display: none;
          flex-direction: column;
          position: absolute;
          top: 100%;
          background: #000; }
          .dropdown-menus li a {
            color: rgba(255, 255, 255, 0.4);
            font-size: 12px;
            white-space: nowrap; }
            .dropdown-menus li a::after {
              content: ""; }
            .dropdown-menus li a:hover {
              color: #fff; }
              @media screen and (max-width: 768px) {
                .dropdown-menus li a:hover {
                  color: rgba(255, 255, 255, 0.4); } }
        .header-top__menus > ul > li:hover {
          background-color: #ff0000; }
          .header-top__menus > ul > li:hover > a {
            color: #CCCCCC; }
          @media screen and (max-width: 768px) {
            .header-top__menus > ul > li:hover {
              background-color: transparent; }
              .header-top__menus > ul > li:hover > a {
                color: rgba(255, 255, 255, 0.4); } }
        .header-top__menus > ul > li:hover > .dropdown-menus {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          justify-content: normal;
          align-items: normal; }
          @media screen and (max-width: 768px) {
            .header-top__menus > ul > li:hover > .dropdown-menus {
              display: none; } }
      @media screen and (max-width: 768px) {
        .header-top__menus > ul {
          flex-direction: column;
          row-gap: 10px; } }
    @media screen and (max-width: 768px) {
      .header-top__menus {
        display: none; } }

.header-bottom {
  padding: 1.2% 0; }
  .header-bottom .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .header-bottom .wrapper {
        flex-direction: column;
        row-gap: 10px; } }
  .header-bottom__advertisement-feature {
    font-weight: bold;
    white-space: nowrap; }
    .header-bottom__advertisement-feature::after {
      margin-left: 3.5%;
      content: "";
      font-family: "fontAwesome";
      font-size: 16px;
      text-decoration: none; }
    .header-bottom__advertisement-feature span {
      text-decoration: underline; }
  .header-bottom__sponsors-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 22.7%; }
    .header-bottom__sponsors-logo span {
      font-weight: bold;
      white-space: nowrap; }
    .header-bottom__sponsors-logo h1 a img {
      width: 135px;
      height: 40px; }

main {
  padding: 1.5% 0;
  background-color: #F6F6F6; }

.title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .title-section a {
    margin-bottom: 0.8%;
    color: #286D84;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline; }
  .title-section__hamburger {
    text-indent: -9999px; }
    .title-section__hamburger::before {
      padding: 29% 40%;
      content: "";
      float: right;
      font-family: "fontAwesome";
      font-size: 20px;
      text-indent: 0;
      background-color: #000;
      color: #fff;
      font-size: 36px; }

.page-content {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: normal;
  align-items: normal; }
  .page-content__taking-the-lead__video figure {
    width: 935px;
    height: 415px; }
  .page-content__taking-the-lead__play-video {
    display: none; }
  .page-content__taking-the-lead__video {
    padding: 6.2% 0;
    position: relative;
    background-color: #000; }
  .page-content__taking-the-lead .play-button {
    width: 124px;
    height: 124px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .page-content__taking-the-lead h2 {
    padding: 0 1.8%;
    margin-top: 55px;
    color: #286D84;
    font-size: 32px;
    font-weight: bold; }
  .page-content__taking-the-lead p {
    padding: 0 1.8%;
    margin-top: 38px;
    font-size: 22px;
    font-weight: bold; }
