// colors
$colors: (primary_color: #fff,
    faint_white: rgba(255, 255, 255, 0.7),
    black_color:#000,
    orange_color: #F4910B,
    faint_black: rgba(0, 0, 0, 0.6),
    faint_gray:#E5E5E5,
    dark_blue: #1B5788,
    faint_blue:#359FDA,
    dark_gray:#7A7C80,
    dark_orange:#F27F0D,
    bright-blue: #37A4E1,
    light-blue: #359EDA,
    dark-blue: #1D5A8A,
    black-blue: #14466E,
    smoke-color: #E5E5E5,
    light-black: rgba(0, 0, 0, 0.7),
    lighter-black: rgba(0, 0, 0, 0.5),
    greenish-color: #A0C63F,
    grass-color: #8EB540,
    light-gray: #C3C3C3,
    light-white: #FCFCFC,
    lighter-white: #CCCCCC,
    lightest-white: #DCDCDC,
    almost-white: #FAFAFA,
    faint-green: #90B045,
    faint-gray: #ACACAC,
    transparent:transparent,
    parrot-color: #8EB53E);
// font
$font_family: (icon_font: "fontAwesome", );

// font-size
$font: (font-zero: 0,
    font-i:1px,
    font-vii:7px,
    font-ix:9px,
    font-x: 10px,
    font-xi: 11px,
    font-xii: 12px,
    font-xiii:13px,
    font-xiv:14px,
    font-xv: 15px,
    font-xvi: 16px,
    font-xvii: 17px,
    font-xviii: 18px,
    font-xix: 19px,
    font-xx: 20px,
    font-xxi: 21px,
    font-xxii: 22px,
    font-xxiii: 23px,
    font-xxiv: 24px,
    font-xxv: 25px,
    font-xxvi: 26px,
    font-xxvii:27px,
    font-xxviii: 28px,
    font-xxx: 30px,
    font-xxxii: 32px,
    font-xxxiii: 33px,
    font-xxxiv:34px,
    font-xxxv: 35px,
    font-xxxviii: 38px,
    font-xxxix:39px,
    font-xl: 40px,
    font-xlii: 42px,
    font-xlv: 45px,
    font-xlix: 49px,
    font-l: 50px,
    font-lviii:58px,
    font-lxv: 65px,
    font-lxxv: 75px,
    font-lxxx: 80px,
    font-cxx: 120px,
);

// breakpoints
$breakpoints: (large-pc: 1440px,
    pc: 1280px,
    mini-pc: 1024px,
    mini-ipad: 995px,
    tablet: 768px,
    mobile-x: 540px,
    mobile: 425px);